<app-segment [name]="currentSegment"></app-segment>
<ion-grid>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button size="large" color="morning" (click)="getNextSegment()">
        <ion-label slot="start">Next segment</ion-label>
        <ion-icon name="chevron-forward-circle" slot="end"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>