<ion-card>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-label class="segment-name">{{name}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-label class="segment-label">Segment</ion-label>
    </ion-col>
  </ion-row>
</ion-card>