.segment-name {
  font-size: 4rem;
  color: rgb(240, 68, 0);
  font-weight: bold;
  text-transform: uppercase;
}

.segment-label {
  font-size: 1.25rem;
  color: rgb(255, 191, 150);
  font-style: italic;
}

ion-card {
  border: 4px solid var(--ion-color-morning);
  border-radius: 32px;
}