ion-textarea {
  font-size: 3rem;
}

ion-label {
  font-size: 1.5rem !important;
  color: grey !important;
}

.card-name {
  font-size: 3rem !important;
  font-weight: 500;
  text-transform: uppercase;
  color: black !important;
}

ion-card {
  border: 4px solid var(--ion-color-morning);
  border-radius: 32px;
}