<ion-card>
  <ion-item class="ion-text-center" lines="fullscreen">
    <ion-textarea [ngModel]="blank1" (change)="change1($event)" [disabled]="dsbl" cols="60" auto-grow="true">
    </ion-textarea>
  </ion-item>
  <!-- <ion-item-divider></ion-item-divider> -->
  <ion-item class="ion-text-center" lines="none">
    <ion-label>{{blank1d}}</ion-label>
  </ion-item>
  <ion-item class="ion-text-center" lines="fullscreen">
    <ion-textarea [ngModel]="blank2" (change)="change2($event)" cols="60" [disabled]="dsbl" auto-grow="true">
    </ion-textarea>
  </ion-item>
  <!-- <ion-item-divider></ion-item-divider> -->
  <ion-item class="ion-text-center" lines="none">
    <ion-label>{{blank2d}}</ion-label>
  </ion-item>
  <ion-item class="ion-text-center" lines="none">
    <ion-label class="card-name">{{name}}</ion-label>
  </ion-item>
</ion-card>
<ion-grid *ngIf="!dsbl && !submitted">
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button size="large" (click)="submitCard()" color="afternoon">Submit</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>