<ion-grid>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button (click)="getCues(1)" color="morning">
        <ion-label slot="start">Morning report</ion-label>
        <ion-icon name="sunny" slot="end"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button (click)="getCues(2)" color="afternoon">
        <ion-label slot="start">Afternoon report</ion-label>
        <ion-icon name="partly-sunny" slot="end"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button (click)="getCues(3)" color="evening">
        <ion-label slot="start">Evening report</ion-label>
        <ion-icon name="moon" slot="end"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let card of presented_cards">
      <ion-row>
        <app-cue-card [blank1]="card.blank1" [blank1d]="card.blank1d" [blank2]="card.blank2" [blank2d]="card.blank2d"
          [name]="card.name" [dsbl]="true"></app-cue-card>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let card of cards">
      <ion-row>
        <app-cue-card [blank1]="card.blank1" [blank1d]="card.blank1d" [blank2]="card.blank2" [blank2d]="card.blank2d"
          [name]="card.name" [dsbl]="submittedCards"></app-cue-card>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button color="morning" size="large" (click)="presentCards()" *ngIf="!presenting">
        <ion-label slot="start">Present cards</ion-label>
        <ion-icon name="share-outline" slot="end"></ion-icon>
      </ion-button>
      <ion-button color="morning" size="large" (click)="hideCards()" *ngIf="presenting">
        <ion-label slot="start">Stop presenting</ion-label>
        <ion-icon name="stop" slot="end"></ion-icon>
      </ion-button>
      <ion-button color="evening" size="large" (click)="returnCards()">
        <ion-label slot="start">Finish round</ion-label>
        <ion-icon name="checkmark-circle" slot="end"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-input (change)="setGameCode($event)" placeholder="Room code" class="room-code"></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>