/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.ion-color-morning {
  --ion-color-base: var(--ion-color-morning) !important;
  --ion-color-base-rgb: var(--ion-color-morning-rgb) !important;
  --ion-color-contrast: var(--ion-color-morning-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-morning-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-morning-shade) !important;
  --ion-color-tint: var(--ion-color-morning-tint) !important;
}

.ion-color-afternoon {
  --ion-color-base: var(--ion-color-afternoon) !important;
  --ion-color-base-rgb: var(--ion-color-afternoon-rgb) !important;
  --ion-color-contrast: var(--ion-color-afternoon-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-afternoon-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-afternoon-shade) !important;
  --ion-color-tint: var(--ion-color-afternoon-tint) !important;
}

.ion-color-evening {
  --ion-color-base: var(--ion-color-evening) !important;
  --ion-color-base-rgb: var(--ion-color-evening-rgb) !important;
  --ion-color-contrast: var(--ion-color-evening-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-evening-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-evening-shade) !important;
  --ion-color-tint: var(--ion-color-evening-tint) !important;
}