<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      News@11
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">News@11</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-player></app-player>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button (click)="toggleSegmentView()" size="medium" color="afternoon">
          <ion-label>{{segmentView ? "Hide" : "Show"}} segment view</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-segment-viewer *ngIf="segmentView"></app-segment-viewer>
</ion-content>